<div class="container top-buffer">
    <div class="container">
        <h1 class="display-4">My Awesome To-do List!</h1>
        <p class="lead">Check out my awesome list of planned tasks:</p>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-1">
                    #
                </div>
                <div class="col-xs-3">
                    Task Name
                </div>
                <div class="col-xs-6">
                    Task description
                </div>
            </div>
        </li>
        <li class="list-group-item" *ngFor="let task of tasks; let i = index">
            <div class="row">
                <div class="col-xs-1">
                  <input type="checkbox" [(ngModel)]="task.done">
                    &nbsp;{{i+1}}
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control no-border" placeholder="Task Name" [(ngModel)]="task.name" [class.no-border]="borderInvisible" [ngClass]="{'strike-through': task.done}">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control no-border" placeholder="Task Description" [(ngModel)]="task.description" [ngClass]="{'strike-through': task.done}">
                </div>

                <div class="col-xs-1">
                    <i class="fa fa-usd fa-2x" aria-hidden="true" style="cursor:pointer" (click)="onDelete()"></i>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <p *ngIf="!validTask" class="alert alert-danger" role="alert">Please fill out Task Name and Task Description to add a task.</p>
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-plus-circle fa-spin fa-2x fa-fw"></i>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="Task Name" [(ngModel)]="task.name">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="Task Description" [(ngModel)]="task.description">
                </div>

            </div>
        </li>
    </ul>
    <br>
    <button type="button" class="btn btn-primary-outline btn-lg btn-block box" (click)="onAdd()">Add Task</button>
</div>
